<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.moul.boot2docker</string>
	<key>connections</key>
	<dict>
		<key>16396DE4-CCD7-46D1-8C7B-3980F61C17CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A34D9C60-6317-49B2-908A-C703339160E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88F079B1-3500-4916-817F-3E54B2A4ACD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16396DE4-CCD7-46D1-8C7B-3980F61C17CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F04C6FD5-FF36-4080-AC00-BA8B1F71AC08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F04C6FD5-FF36-4080-AC00-BA8B1F71AC08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A34D9C60-6317-49B2-908A-C703339160E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Manfred Touron</string>
	<key>description</key>
	<string>Boot2docker Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Boot2docker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python workflow.py command_notify "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16396DE4-CCD7-46D1-8C7B-3980F61C17CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Boot2Docker</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A34D9C60-6317-49B2-908A-C703339160E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>boot2docker</string>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>python workflow.py command_autocomplete "{query}"</string>
				<key>subtext</key>
				<string>Control Boot2Docker</string>
				<key>title</key>
				<string>boot2docker</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>88F079B1-3500-4916-817F-3E54B2A4ACD1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python workflow.py command_run "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F04C6FD5-FF36-4080-AC00-BA8B1F71AC08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16396DE4-CCD7-46D1-8C7B-3980F61C17CA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>88F079B1-3500-4916-817F-3E54B2A4ACD1</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A34D9C60-6317-49B2-908A-C703339160E6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>F04C6FD5-FF36-4080-AC00-BA8B1F71AC08</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/moul/alfred-workflow-boot2docker</string>
</dict>
</plist>
